.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .textbox {
    width: 200px;
    margin-right: 10px;
    color: rgba(80, 80, 80, 1);
  }

  .borderbox {
    position: relative;
    transition: all 1s;

    &:hover {
      transform: rotate(-45deg);
    }

    &:hover .inner {
      transform: rotate(30deg);
    }

    &:before {
      content: "";
      position: absolute;
      top: 25px;
      right: -50px;
      width: 50px;
      height: 110px;
      border: 20px solid lightgray;
      border-radius: 25px;
    }

    .glass {
      position: relative;
      width: 180px;
      height: 245px;
      background-color: rgba(150, 150, 150, 1);
      border-radius: 5px;
      border: 10px solid lightgray;
      border-top: none;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 130px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        z-index: 50;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        box-shadow: 50px 0 0 0 rgba(0, 0, 0, 0.2), -50px 0 0 0 rgba(0, 0, 0, 0.2);
      }
    }

    .inner {
      position: absolute;
      width: 200%;
      height: 240px;
      border-top: 50px solid white;
      background: linear-gradient(to bottom, #bc7012 0%, #efd002 100%);
      transition: all 1s;
      transform-origin: 0 0;
    }
  }
}

@for $i from 0 through 12 {

  .bubble:nth-child(#{$i}) {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    top: random(300 + $i) + px;
    left: random(200 + $i) + px;
    animation: {
      name: bubbles;
      timing-function: ease-in-out;
      iteration-count: infinite;
      duration: (1000ms * $i) - 1050;
      delay: (50ms + $i) + 100;
    }
  }
}

@keyframes bubbles {
  100% {
    top: -10px;
  }
}

