@tailwind base;
@tailwind components;
@tailwind utilities;

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background-color: theme('colors.pt-beige');
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 0.5rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 100% !important;
  padding: 2px;
  border-radius: 0.5rem !important;
}

.swiper-slide-shadow-coverflow {
  border-radius: 0.5rem !important;
}

.swiper-slide div {
  display: block;
  width: 100%;
}

.swiper-pagination {
  position: static !important;
}

h5 {
  color: theme('colors.pt-brown') !important;
}

a {
  color: theme('colors.pt-red');
}

button {
  color: white;}

.swiper-coverflow {
  height: 20rem !important;
}

.stat-info-main {
  text-shadow: #FC0 3px 3px;
}
h1 {
  color: theme('colors.pt-brown') !important;
  font-weight: bold;
}

h5 {
  color: theme('colors.pt-brown') !important;
}

a {
  color: theme('colors.pt-red');
}

button {
  color: white;
}
